a{
    text-decoration: none;
    padding: 30px;

}
#searchInputId{
border-radius: 15px;
padding: 5px;
}
.stylesButton{
background-color: black;
font-style: normal;
font-size: 15px;
border-color: white;
color: white;
border-radius: 5px;
}
#divHeader{
max-width: 1000px;
background-color: aqua;
margin: 10px;
}
#photoLogo{
width: 100px;
height:75px ;
border-radius: 500px;
padding-left: 25px;
}