a {
  text-decoration: none;
  padding: 30px;
}
#searchInputId {
  border-radius: 15px;
  padding: 5px;
  margin-left: 10px;
}
#photoLogo{
    width: 50px;
    height: 50px ;
    border-radius: 100px;
}
.stylesButton {
  background-color: black;
  font-style: normal;
  font-size: 15px;
  border-color: white;
  color: white;
  border-radius: 5px;
  padding: 5.5px;
}
#divHeader {
    display: flex;
    align-items: center;  
    text-align: center;
    justify-content: center;
    }
#iframe {
    display: inline-block;
  border: none;
text-align: center;
  border-radius: 20px;
}

body {
  text-align: center;
  background-color: beige;
}
.product-container {
    display: flex; 
    justify-content:center;  
    flex-wrap: wrap;  
    gap: 50px;  
    margin: 10px;
  }
  
  .product {
    border: 2px solid rgb(162, 155, 155);
    border-radius: 10px;
    text-align: center;
    padding:10px ;
   
  }
  .photoProduct {
    width: 150px; 
    height: 200px; 
    border-radius: 10px; 
  }
  .btnShoppingCart{
    background-color: black;
    font-style: normal;
    font-size: 15px;
    border-color: white;
    color: white;
    border-radius: 100px;
    padding: 6px;
    margin-left: 100px;
  }
  #newsletter{
text-align: left;
display: flex; 
justify-content:center;  
gap: 300px;  
  }
  #offerList{
    text-align: left;
    display: flex; 
    justify-content:center;
    gap: 50px;
 

  }
  .product02{
    border: 2px solid rgb(162, 155, 155);
    border-radius: 10px;
    text-align: center;
    padding:10px ;
    margin: 5px;
  }
  .photoProduct02{
    width: 200px;
    height: 100px ;
  }
  #pic01{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding: 50px;
      border: 2px solid rgb(162, 155, 155);
      border-radius: 10px;
      text-align: center;
  }
  #photoProduct03{
    width: 300px;
    height: 250px ;

  }